body{background-color: aliceblue;display: grid; place-content: center;height: 100vh;margin: 0;}

div {
    width: 420px;
    height: 400px;
    background: red;
    border-radius: 50%;
}

#circle {
    position: relative;
    width: 380px;
    height: 380px;
    background-color:white;
    top: 10px;
    left: 20px;
}

#bar {
    position: absolute;
    width: 600px;
    height: 200px;
    border-radius: 0px;
    top: 150px;
    background: white;
}

#bar2 {
    position: absolute;
    width: 600px;
    height: 200px;
    border-radius: 0px;
    bottom: 150px;
    background: white;
}
