:root {
    --cor-primaria: hsla(10, 52%, 50%, 1);
    --cor-secundaria: hsla(195, 92%, 35%, 1);
    --cor-terciaria: hsla(195, 92%, 50%, 1);
    --background: rgb(208, 204, 204);
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--cor-primaria);
}

P {
    border: 5px solid var(--cor-primaria);
    padding: 10px;
}