* {
    text-align: center;
}

body {
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
}

header {
    background-color: black;
    color: white;
    grid-area: header;
}

nav {
    background-color: yellowgreen;
    grid-area: nav;
}

main {
    background-color: tan;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

div {
    background-color: cyan;
    border: 1px solid black;
}

aside {
    background-color: cadetblue;
    grid-area: aside;
}

footer {
    background-color: violet;
    grid-area: footer;
}