body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    background-color: transparent;
    color: darkgoldenrod;
    text-align: center;
}

h2 {
    color:chocolate;
    text-align: center;
}

p {
    font-size: 10px;   
    color: green;
}

p {
    color:whitesmoke;
}

table, th{
    border: 2px solid darkgoldenrod;
    border-collapse: collapse;
}

table th {
    background-color: darkgoldenrod;
    color: white;
    font-size: 20px;
}

table td {
    background-color: black;
    color: darkgoldenrod;
}

.maior {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

button {
    background-color: red;
}

