body {
    background-color: #f5f395;
    font-family: "Roboto", sans-serif;
}

h1, p {
    background-color: blueviolet;
    color: red;
    text-align: center;
}

p {
    font-size: 10px;   
    color: green;
}

p {
    color:whitesmoke;
}

table, th, td {
    border: 2px solid purple;
    border-collapse: collapse;
}

table th {
    background-color: purple;
    color: white
}

table td {
    background-color: yellowgreen;
    color: red
}

.maior {
    font-size: 30px;
}