body {
    background-color: aliceblue;
    margin: 0;

}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgb(2, 140, 226);
    grid-area: header;
    color: white;
    padding: 10px;
    h1, h3 {
        text-align: center;
    }
}

nav {
    background-color: rgb(16, 16, 48);
    color: white;
    grid-area: nav;
    display: grid;
    place-content: center;
    padding: 5px;
    li {
        display: inline-block;
        margin: 0 10px;
    }
}

footer {
    grid-area: footer;
    background-color: rgb(16, 16, 48);
    color: white;
    
    .comunicacao {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            padding: 10px;
        }

        ul {
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 10px;
            color: lightslategray;
        }
    }
}